.categoryButton {
    color: #6d757f;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #b8c1cd;
    display: inline-block;
    border-radius: 3px;
    padding: 4px 8px;
    margin-bottom: 8px;
    text-decoration: none;
  }
  
  .categoryButton:hover {
    background: #f4796c;
    color: #fff;
    transition: all 0.3s ease-out 0s;
  }
  
  .contentBox > h4 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #183354;
  }
  .info {
    color: #6d757f;
    font-size: clamp(10px, 10vw, 12px);
    gap: 5px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .infoDiv {
    gap: 10px;
  }
  
  .imageBox {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* min-width: 160px;
        min-height: 140px; */
  }
  
  .initialState {
    text-decoration: none;
  }
  .hoverEffect {
    text-decoration: underline;
  }
  
  .image {
    border-radius: 5px;
    position: relative;
    object-fit: cover;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    /* width: -webkit-fill-available; */
  }
  .image:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out 0s;
  }
  
  .detailsText {
    font-size: 16px;
    color: #545e69;
    line-height: 1.50;
  }
  