.EditorChoiceSection {
  padding-top: 50px;
}

.title {
  font-size: 28px;
  color: #183354;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.2;
}
.arrowButton {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 4px;
  padding: 0;
  font-size: 14px;
  color: #f4796c;
  border: 1px solid #cfcfcf;
}
.arrowButton:hover {
  background: #f4796c;

  color: #fff;

  transition: all 0.3s ease-out 0s;
}
